* {
    padding: 0;
    margin: 0;
    border: 0;
}
*::before
*,
*::before
*::after{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    min-width: 20rem;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    color: inherit;
}

textarea{
    border: none;
    padding: 0;
    margin: 0;
    resize: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}