/* import */

@import url(nulstyle.css);

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

/* defoult styles */

body {
    font-size: 16px;
    color: black;
    font-family: Poppins;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}

/* adaptive settings */

[class*="__container"] {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1250px;     /* огран контейнер 1220px */
}

/* breake points */

@media (max-width:1200px) {
    [class*="__container"] { 
        max-width: 970px;
    }
}

@media (max-width:992px) {
    [class*="__container"] { 
        max-width: 750px;
    }
}

@media (max-width:767px) {
    [class*="__container"] { 
        max-width: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* header */

.header {
    background-color: #64a352;
    width: 100%;
    position: fixed;
}
.header__container {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.logo__link {
    height: 60px;
}
.header__menu {
}
.menu__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__item {
}
.menu__link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s all;
}
.menu__link:hover {
    text-decoration: underline;
    color: #cdcdcd;
}

/* burger */

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 18px;
    z-index: 99;
    cursor: pointer;
    position: relative;
}

.header__burger span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: 0.3 ease-in;
}

.header__burger::before,
.header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

.header__burger.active span {
    transform: scale(0);
}

.header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 992px) {
    .header__burger {
        display: flex;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 50;
        background-color: #4caf4f;
    }
    .header__menu.open {
        display: flex;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .menu__link {
        font-size: 44px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

/*  */

@media (max-width:767px) {
    .menu__list {
        gap: 20px;
        row-gap: 10px;
    }
}

/* first section */

.page__main {
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}
.main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__title {
    margin-top: 150px;
}
.title {
    color: #fff;
    font-family: Poppins;
    font-size: 72px;
    font-weight: 900;
    line-height: 84px;
    margin-bottom: 40px;
}
.main__label {
    color: #fff;
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 36px;
}
.main__label p {
}
.main__button {
    background-color: #64a352;
    border-radius: 18px;
    width: 11.47541%; /* 140/1220 */
}
.main__button button {
    width: 100%;
    color: rgb(239, 239, 245);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding: 12.5px 20px;
    transition: all 1s ease-in;
}
.main__button:hover {
    background-color: #416836;
    box-shadow: 0px 10px 15px 10px #64a352;
    -webkit-box-shadow: 0px 10px 15px 10px #64a352;
    -moz-box-shadow: 0px 10px 15px 10px #64a352;
    position: relative;
    top: 5px;
    transition: 0.5s all ease-in;
}

@media (max-width:767px) {
    .main__button {
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
    }
    .button__button {
        margin: 0 auto;
        text-align: center;
        padding: 12.5px 0;
    }
}

/* second section */

.page__intro {
}
.intro__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
    padding-top: 80px;
}
.intro__title {
    color: #302e2e;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 84px;
    padding-bottom: 38px;
}
.intro__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.intro__info {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.info__title {
    color: #302e2e;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}
.info__text {
    color: #302e2e;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 24px;
}
.intro__video {
    width: 48%;
}
.video {
    width: 100%;
    height: 300px;
}

@media (max-width:992px) {
    .intro__video {
        width: 50%;
    }
    .video {
        width: 100%;
    }
}
@media (max-width:767px) {
    .intro__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
    .intro__video {
        width: 95%;
    }
    .video {
        width: 100%;
    }
    .intro__container {
        margin-bottom: 100px;
    }
    .intro__info {
        width: 80%;
    }
}

/* third section */

.page__about {  
}
.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 80px;
}
.about__title {
    color: #302e2e;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 44px;
}
.about__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.card__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.card__title {
    color: #302e2e;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 14px;
}
.card__text {
    color: #302e2e;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.card__more {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 300;
    padding-top: 10px;
}

@media (max-width:767px) {
    .about__body {
        display: flex;
        flex-direction: column;
    }
    .about__body {
        width: 80%;
    }
    .list__text {
        width: 60%;
    }
}

/* footer */

.footer {
    background-color: #416836;
}
.footer__container {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.footer__text {
}
.text {
    color: #252424;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}
.footer__icons {
    display: flex;
    flex-direction: row;
}
.social__icons {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
.footer__botum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.copy__img {
    width: 20px;
    height: 20px;
}
.copy__text {
}

@media (max-width:767px) {
    .footer__botum {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer__container {
        gap: 20px;
    }
    .footer__top {
        gap: 7.5px;
    }
    .copy__img {
        width: 30px;
        height: 30px;
    }
}

